<!doctype html>
<html>
<head>
  <title>Madlibs :: Compliment</title>
  <link rel="stylesheet" href="static/madlibs.css">
</head>
<body>
    <h3>Hi {{ person }}! I think you're {{ compliment }}!</h3>

    <h3>Would you like to play a game?</h3>
    <form action="/game">
      <ul class="form-style-1">
        <li>
          <input type="radio" name="play_choice" value="yes">
          <label>Yes</label>
        </li>
        <li>
          <input type="radio" name="play_choice" value="no">
          <label>No</label>    
        </li>
        <li>
          <input type="submit" value="Submit" id="btn" />
      </li>
      </ul>      
    </form>
</body>
</html>